* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}

header {
    background-color: #23376d;
    padding: 28px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 45px;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #A6ACAF;
}

.titulo {
    color: black;
    font-family: Brush Script MT;
    margin-left: 25px;
}

.titulo2 {
    color: black;
    font-family: Brush Script MT;
    margin-right: 25px;
    float: right;
}

.tituloBio {
    margin-left: 60px;
    margin-top: 15px;
    padding-bottom: 0px;
    font-family: Brush Script MT;
    color: black;
}

.image1 {
    width: 496px;
    margin-right: 25px;
    margin-left: 25px;
    float: right;
    border-radius: 6%;
}

.descripcion1 {
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 549;
}

#container1 {
    background-color: #FFBD3A;
    padding-top: 5px;
    padding-bottom: 210px;
}

.image2 {
    width: 496px;
    margin-right: 25px;
    margin-left: 25px;
    float: left;
    border-radius: 6%;
}

.descripcion2 {
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 549;
}

#container2 {
    background-color: #AED6F1 ;
    padding-top: 5px;
    padding-bottom: 210px;
}

.image3 {
    width: 496px;
    margin-right: 25px;
    margin-left: 25px;
    float: right;
    border-radius: 6%;
}

.descripcion3 {
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 549;
}

#container3 {
    background-color: #FFBD3A;
    padding-top: 5px;
    padding-bottom: 210px;
}

.descripcionBio1 {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 549;
}

#containerBio1 {
    background-color: #FFBD3A;
    padding-top: 5px;
    padding-bottom: 50px;
}

.imageBio {
    width: 10px;
}

.descripcionBio2 {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 549;
}

.flexslider {
    width: auto;
}

.img-page {
    margin-top: 5px;
    margin-left: 90px;
    width: 300px;
    display: block;
    border-radius: 4%;
}

.contenido-page {
    margin: 25px;
    display: flex;
}

.descripcion-page {
    padding: 20px;
    font-family: arial;
    font-weight: bold;
    text-align: justify;
    color: black;
}

.titulo-page {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.fondo-page1 {
    background-color: #D6EAF8;
}

.fondo-page2 {
    background-color: #D6EAF8;
}

.fondo-page3 {
    background-color: #D6EAF8;
}

.descripcion-pageK {
    color: #808B96;
    text-align: center;
    font-weight: 300;
    font-family: Helvetica;
    font-size: 20px;
    margin-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.lema {
    color: black;
    font-family: Brush Script MT;
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
}

.image-page {
    width: 500px;
    float: right;
    margin-right: 25px;
    margin-bottom: 25px;
}

.descripcionPage1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

.logoindex {
    width: 230px;

}

.fondo1 {
    background-color: white;
}

.contenedor1 {
    margin-top: -26px;
    background-color: #EBF5FB;
    padding-top: 55px;
    padding-bottom: 140px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 20px;
}

.fondo2 {
    background-color: #23376d;
}

.esta1 {
    background-color: #F4D03F;
}

.esta2 {
    background-color: #F5B041;
}

.esta3 {
    background-color: #EB984E;
}

.esta4 {
    background-color: #DC7633;
}

.desc1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
}

.desc2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
}

.desc3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
}

.desc4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
}

.est-page {
    padding-left: 230px;
    border-spacing: 10px;

}

.est-fond {
    background-color: #23376d;
    padding-top: 100px;
    padding-bottom: 100px;
}

.colabs {
    color: #23376d;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.colabs1 {
    padding-top: 40px;
    padding-left: 70px;
    padding-bottom: 40px;
    border-spacing: 0px;
    width: 300px;
}

.colabs1:hover {
    background-color: #c5c5c5;
    border-radius: 4%;
}

.contact {
    background-color: #23376d;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.info {
    border-spacing: 100px;
    padding-left: 250px;
}

.imgdesc {
    width: 10px;   
}

.pie {
    background-color: #23376d;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica;
    padding-bottom: 5px;
    padding-top: 5px;
}

.yo {
    width: 250px;
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
    padding-right: 25px;
    padding-top: 0px;
}